.idea/
db.sqlite3
.env

# Ignore cached files
__pycache__/

# Ignore virtualenv /.venv/, if present
/.venv/

# Ignore /static/ that contains collected files
/static/

# Ignore /firmwares/ that contains uploaded files
/firmwares/
