{% extends "adminlte/base.html" %}
{% load adminlte_helpers i18n static %}

{% block html_lang %}{{ LANGUAGE_CODE }}{% endblock html_lang %}

{% block navbar_links %}
    <ul class="navbar-nav">
        <li class="nav-iem">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
{% endblock navbar_links %}

{% block navbar_center %}{% endblock navbar_center %}

{% block navbar_custom %}
    <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
            <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" aria-expanded="true">
                    <span class="d-none d-md-inline">{% firstof request.user.get_short_name request.user.get_username %}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <li class="user-body">
                        <div class="text-center">
                            <a href="{% url 'user:profile' %}">{% trans 'User Profile' %}</a>
                        </div>
                    </li>
                    <li class="user-footer">
                        <!--a href="{% url 'user:password_change' %}"
                           class="btn btn-default btn-flat">{% trans 'Ch. password' %}</a-->
                        <a href="{% url 'user:logout' %}"
                           class="btn btn-default btn-flat float-right">{% trans 'Logout' %}</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
    </ul>
{% endblock navbar_custom %}


{% block logo %}
    <a href="{% url 'home' %}" class="brand-link">
        <img src="{%static 'ztp/img/Z.png' %}" alt="ZosTeroPs Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">osTeroPs </span>
    </a>
{% endblock %}

{% block sidebar_user_panel %}
    {% if user.is_authenticated %}
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% avatar_url size=90 %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{% firstof request.user.get_full_name request.user.username %}</a>
            </div>
        </div>
    {% endif %}
{% endblock sidebar_user_panel %}

{% block div_sidebar %}
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview"
            role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link{% if menu_item == 'home' %} active{% endif %}">
                    <i class="nav-icon fas fa-home"></i>
                    <p>{% trans 'Home' %}</p>
                </a>
            </li>
            {% if perms.ztp.list_ztpscript %}
                <li class="nav-item">
                    <a href="{% url 'ztpList' %}" class="nav-link{% if menu_item == 'ztpScript' %} active{% endif %}">
                        <i class="nav-icon fas fa-bolt"></i>
                        <p>{% trans 'ZTP Scripts' %}</p>
                    </a>
                </li>
            {% endif %}
            {% if perms.ztp.list_config %}
                <li class="nav-item">
                    <a href="{% url 'configList' %}" class="nav-link{% if menu_item == 'config' %} active{% endif %}">
                        <i class="nav-icon fas fa-table"></i>
                        <p>{% trans 'Configurations' %}</p>
                    </a>
                </li>
            {% endif %}
            {% if perms.ztp.list_firmware %}
                <li class="nav-item">
                    <a href="{% url 'firmwareList' %}" class="nav-link{% if menu_item == 'firmware' %} active{% endif %}">
                        <i class="nav-icon fas fa-download"></i>
                        <p>{% trans 'Firmwares' %}</p>
                    </a>
                </li>
            {% endif %}
            {% if perms.ztp.list_platform %}
                <li class="nav-item">
                    <a href="{% url 'platformList' %}" class="nav-link{% if menu_item == 'platform' %} active{% endif %}">
                        <i class="nav-icon fas fa-server"></i>
                        <p>{% trans 'Platforms' %}</p>
                    </a>
                </li>
            {% endif %}
            {% if perms.ztp.list_vendor %}
                <li class="nav-item">
                    <a href="{% url 'vendorList' %}" class="nav-link{% if menu_item == 'vendor' %} active{% endif %}">
                        <i class="nav-icon fas fa-building"></i>
                        <p>{% trans 'Vendors' %}</p>
                    </a>
                </li>
            {% endif %}
            {% if perms.ztp.list_log %}
                <li class="nav-item">
                    <a href="{% url 'logs:list' %}" class="nav-link{% if menu_item == 'logs' %} active{% endif %}">
                        <i class="nav-icon fas fa-file-alt"></i>
                        <p>{% trans 'Logs' %}</p>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'about' %}" class="nav-link{% if menu_item == 'about' %} active{% endif %}">
                    <i class="nav-icon fas fa-info"></i>
                    <p>{% trans 'About' %}</p>
                </a>
            </li>
            {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'admin:index' %}" class="nav-link">
                        <i class="nav-icon fas fa-database"></i>
                        <p>{% trans 'Admin' %}</p>
                    </a>
                </li>
            {% endif %}
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'user:login' %}" class="nav-link{% if menu_item == 'login' %} active{% endif %}">
                        <i class="nav-icon fas fa-sign-in-alt"></i>
                        <p>{% trans 'Login' %}</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock div_sidebar %}

{% block content_block_wrap %}
    {% block content %}
    {% endblock content %}
{% endblock content_block_wrap %}

{% block footer_right %}
    <b>{% trans 'Version' %}</b> {{ VERSION }}
{% endblock footer_right %}

{% block footer_left %}
    <strong>{% trans 'Copyright' %} &copy; 2021.</strong> {% trans 'All rights reserved.' %}
{% endblock footer_left %}

{% block css_xtra %}
    {% block css_page %}{% endblock css_page %}
    <link href="{% static "ztp/css/style.css" %}" rel="stylesheet" />
{% endblock css_xtra %}

{% block js_xtra %}
    {% block js_page %}{% endblock js_page %}
{% endblock js_xtra %}