{% extends "base.html" %}
{% load i18n %}

{% block content_title %}{% trans 'Password reset' %}{% endblock content_title %}

{% block content %}
    <div class="login">
        <form method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <table class="login-form password-reset">
                <thead>
                    <tr>
                        <th colspan="2">{% trans 'Password reset' %}</th>
                    </tr>
                    <tr>
                        <td colspan="2">{% blocktrans %}Please, enter your e-mail address and you will receive instructions to change your password.{% endblocktrans %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% with field=form.email %}
                            <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                            <td>
                                <input type="email" name="{{ field.name }}"
                                       {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
                                       id="{{ field.id_for_label }}"
                                       {% if field.field.required %}required=""{% endif %}
                                       autocomplete="email">
                                {% for error in field.errors %}
                                    <p class="field-error">{{ error }}</p>
                                {% endfor %}
                            </td>
                        {% endwith %}
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="action" colspan="2"><button type="submit">{% trans 'Password reset' %}</button></td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
{% endblock content %}