{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% trans 'Reset your password' %}</h3>
                    </div>
                    <div class="card-body">
                        <p>{% trans "We've emailed you instructions for setting your password." %}</p>
                        <p>{% trans "If you don't receive an e-mail, please make sure you've entered the address you registered with." %}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}