{% extends "base.html" %}
{% load i18n static widget_tweaks %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% trans 'User profile - Edit' %}</h3>
                    </div>
                    <form method="post"{% if menu_item == "firmware" %} enctype="multipart/form-data"{% endif %}>
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                        <div class="card-body {{ menu_item }}">
                            <div class="form-group">
                                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                                {{ form.first_name|add_class:"form-control" }}
                                {% for error in form.first_name.errors %}
                                    <p class="field-error">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                                {{ form.last_name|add_class:"form-control" }}
                                {% for error in form.last_name.errors %}
                                    <p class="field-error">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {{ form.email|add_class:"form-control" }}
                                {% for error in form.email.errors %}
                                    <p class="field-error">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
                            <a href="{% url 'user:password_change' %}" class="btn btn-secondary">{% trans "Change password" %}</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock content %}

{% block css_page %}
{% endblock css_page %}

{% block js_page %}
{% endblock js_page %}
