{% extends "base.html" %}

{% load humanize %}

{% block content_title %}Configurations{% endblock content_title %}

{% block content %}
    <table class="table_list">
        <thead>
            <tr>
                <th class="id">ID</th>
                <th class="name">Name</th>
                <th class="description">Description</th>
                <th class="action"><a href="{% url 'configCreate' %}"><i class="far fa-plus-square"></i></a></th>
            </tr>
        </thead>
        <tbody>
            {% for config in configs %}
                <tr>
                    <td class="id">{{ config.id }}</td>
                    <td class="name"><a href="{% url 'configDetail' config.id %}">{{ config.name }}</a></td>
                    <td class="description">{{ config.description }}</td>
                    <td class="action">
                        <a href="{% url 'configDelete' config.id %}"><i class="fas fa-trash"></i></a>&nbsp;&nbsp;
                        <a href="{% url 'configUpdate' config.id %}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}