{% extends "base.html" %}

{% block content_title %}Platforms{% endblock content_title %}

{% block content %}
    <table class="table_list">
        <thead>
            <tr>
                <th class="platform_id">ID</th>
                <th class="platform_vendor">Vendor</th>
                <th class="platform_name">Name</th>
                <th class="platform_description">Description</th>
                <th class="platform_action"><a href="{% url 'platformCreate' %}"><i class="far fa-plus-square"></i></a></th>
            </tr>
        </thead>
        <tbody>
            {% for platform in platforms %}
                <tr>
                    <td class="platform_id">{{ platform.id }}</td>
                    <td class="platform_vendor">{{ platform.vendor.name }}</td>
                    <td class="platform_name">{{ platform.name }}</td>
                    <td class="platform_description">{{ platform.description }}</td>
                    <td class="platform_action">
                        {% if platform.firmwares.count == 0 %}<a href="{% url 'platformDelete' platform.id %}"><i class="fas fa-trash"></i></a>&nbsp;&nbsp;{% endif %}
                        <a href="{% url 'platformUpdate' platform.id %}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}