{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content_title %}
    {{ object_description|capfirst }} #{{ object.id }} - {% trans "Details" %}
    {% if can_change %}<a href="{{ object.url_update }}"><div class="button-edit">{% trans 'Edit' %}</div></a>{% endif %}&nbsp;&nbsp;
    {% if can_delete %}<a href="{{ object.url_delete }}"><div class="button-delete">{% trans 'Delete' %}</div></a></a>{% endif %}
{% endblock content_title %}

{% block content %}
    <div class="detail {{ menu_item }}">
        {% if object.platform %}
            <div class="platform header">{% trans "Platform" %}</div>
            <div class="platform data">{{ object.platform.name }} - {{ object.platform.vendor.name }}</div>
        {% endif %}
        {% if object.name %}
            <div class="name header">{% trans "Name" %}</div>
            <div class="name data">{{ object.name }}</div>
        {% endif %}
        {% if object.file %}
            <div class="filename header">{% trans "Filename" %}</div>
            <div class="filename data">{{ object.file.name }}</div>
        {% endif %}
        {% if object.url %}
            <div class="url header">{% trans "URL" %}</div>
            <div class="url data">
                <a href="{{ object.url }}" target="_blank">{{ object.url }}</a>
                {% if menu_item == 'config' %}
                    <br /><div class="notice">The configuration may require mandatory parameters or return a 404 error.</div>
                {% endif %}
            </div>
        {% endif %}
        {% if object.description %}
            <div class="description header">{% trans "Description" %}</div>
            <div class="description data">{{ object.description }}</div>
        {% endif %}
        {% if object.filesize %}
            <div class="filesize header">{% trans "File size" %}</div>
            <div class="filesize data">{{ object.filesize }} {% trans "bytes" %}</div>
        {% endif %}
        {% if object.md5_hash %}
            <div class="md5hash header">{% trans "MD5 hash" %}</div>
            <div class="md5hash data">{{ object.md5_hash }}</div>
        {% endif %}
        {% if object.sha512_hash %}
            <div class="sha512hash header">{% trans "SHA512 hash" %}</div>
            <div class="sha512hash data">{{ firmware.sha512_hash }}</div>
        {% endif %}
        {% if menu_item == "ztpScript" %}
            <div class="options header">{% trans "Options" %}</div>
            <div class="options data">
                <input type="checkbox" id="id_render_template"
                       {% if object.render_template %}checked{% endif %}
                       disabled>
                <label for="id_render_template">{% trans "Render template" %}</label><br/>

                <input type="checkbox" id="id_use_parameters"
                       {% if object.use_parameters %}checked{% endif %}
                       disabled>
                <label for="id_use_parameters">{% trans "Use parameters" %}</label><br/>

                <input type="checkbox" id="id_accept_query_string"
                       {% if object.accept_query_string %}checked{% endif %}
                       disabled>
                <label for="id_accept_query_string">{% trans "Accept query string" %}</label><br/>

                <input type="checkbox" id="id_priority_query_string_over_arguments"
                       {% if object.priority_query_string_over_arguments %}checked{% endif %}
                       disabled>
                <label for="id_priority_query_string_over_arguments">{% trans "Priority query string over arguments" %}</label>
            </div>
        {% endif %}
        {% if object.parameters %}
            <div class="parameters header">{% trans "Parameters" %}</div>
            <div class="parameters data">
                {% if menu_item == "config" %}
                    <fieldset>
                        {% for param in object.parameters.all %}
                            <div class="link-formset">
                                <div class="data">
                                    <input type="hidden" id="data-{{ param.name }}" value="{{ param.data }}" />
                                    <div id="data-{{ param.name }}-jexcel" class="jexcel_instance"></div><br />
                                    <input type="checkbox" id="id_is_mandatory-{{ param.name }}"
                                           {% if param.is_mandatory %}checked{% endif %}
                                           disabled>
                                    <label for="id_is_mandatory-{{ param.name }}">{% trans "Mandatory parameter" %}</label><br/>
                                </div>

                            </div>
                        {% endfor %}
                    </fieldset>
                {% elif menu_item == "ztpScript" %}
                    <table class="parameters">
                        <thead>
                        <tr>
                            <th class="name">{% trans "Name" %}</th>
                            <th class="value">{% trans "Value" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for param in object.parameters.all %}
                            <tr>
                                <th class="key"> &#x7b;&#x7b; {{ param.name }} &#x7d;&#x7d;</th>
                                <td class="value">{{ param.value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        {% endif %}
        {% if object.template %}
            <div class="template header">{% trans "Template" %}</div>
            <div class="template"><pre>{{ object.template }}</pre></div>
        {% endif %}
    </div>
{% endblock content %}

{% block css_xtra %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jexcel/4.5.2/jexcel.min.css" integrity="sha512-WB/kEaOfg0GNR4kgcutxGokTJwOHScl+1IWlUwobvYi8USQ2ML9mn3794NPSpInbVc6ISnUM6kXZq7hg6Vk1vg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "ztp/css/jsuites.css" %}" type="text/css" />
{% endblock css_xtra %}

{% block js_xtra %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jexcel/4.5.2/jexcel.min.js" integrity="sha512-wMMvCzGFoMkqblq/fcXTGli56kJQGAXsP6c2oriVYpzjXC/g6JRlvJe7zVoQZsOadgxECkr5tf4DIaJjofYGlA==" crossorigin="anonymous"></script>
    <script src="{% static "ztp/js/jsuites.js" %}"></script>
    <script>
        function update_jexcel_first_column_header(jexcel_obj, title) {
            if (title !== '') {
                jexcel_obj.setHeader(0, title);
            }
        }

        function load_jexcel_data(stylesheet_id) {
            let data = $('#' + stylesheet_id.replace(/-jexcel$/, ''));

            let data_value = data.val();
            if (data_value === '') {
                data_value = '{"columns":[{"width":150},{"width":150}],"data":[["",""],["",""]]}';
            }

            options = JSON.parse(data_value);
            options['updateTable'] = function(el, cell, x, y, source, value, id) {
                cell.classList.add('readonly');
            };

            return jexcel_obj = jexcel(document.getElementById(stylesheet_id), options);
        }
    </script>
    <script>
        $(function () {
            $('.jexcel_instance').each(function(index, el) {
                jexcel_obj = load_jexcel_data(el.id);
            });
        })
    </script>
{% endblock js_xtra %}
