{% extends "base.html" %}
{% load i18n static widget_tweaks %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ object_description|capfirst }} {% if object.id %}#{{ object.id }} - {% trans 'Edit' %}{% else %}- {% trans 'New' %}{% endif %}</h3>
                    </div>
                    <form method="post"{% if menu_item == "firmware" %} enctype="multipart/form-data"{% endif %}>
                        {% csrf_token %}
                        {{ formset.management_form }}

                        <p class="error"></p>
                        {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                        {% for error in formset.non_form_errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}

                        <div class="card-body {{ menu_item }}">
                            {% if form.vendor %}
                                <div class="form-group">
                                    <label for="{{ form.vendor.id_for_label }}">{{ form.vendor.label }}</label>
                                    {{ form.vendor|add_class:"form-control" }}
                                    {% for error in form.vendor.errors %}
                                        <p class="field-error">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if form.name %}
                                <div class="form-group">
                                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                    {{ form.name|add_class:"form-control" }}
                                    {% for error in form.name.errors %}
                                        <p class="field-error">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if form.file %}
                                <div class="form-group">
                                    <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
                                    {{ form.file|add_class:"form-control" }}
                                    {% for error in form.file.errors %}
                                        <p class="field-error">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if form.description %}
                                <div class="form-group">
                                    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                                    {{ form.description }}
                                    {% for error in form.description.errors %}
                                        <p class="field-error">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if form.platforms %}
                                <div class="form-group">
                                    <label for="{{ form.platforms.id_for_label }}">{{ form.platforms.label }}</label>
                                    {{ form.platforms|add_class:"form-control" }}
                                </div>
                            {% endif %}
                            {% if menu_item == "ztpScript" %}
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ form.render_template|add_class:"custom-control-input" }}
                                        <label for="{{ form.render_template.id_for_label }}" class="custom-control-label">{{ form.render_template.label }}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ form.use_parameters|add_class:"custom-control-input" }}
                                        <label for="{{ form.use_parameters.id_for_label }}" class="custom-control-label">{{ form.use_parameters.label }}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ form.accept_query_string|add_class:"custom-control-input" }}
                                        <label for="{{ form.accept_query_string.id_for_label }}" class="custom-control-label">{{ form.accept_query_string.label }}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        {{ form.priority_query_string_over_arguments|add_class:"custom-control-input" }}
                                        <label for="{{ form.priority_query_string_over_arguments.id_for_label }}" class="custom-control-label">{{ form.priority_query_string_over_arguments.label }}</label>
                                    </div>
                                </div>
                            {% endif %}
                            {% if formset %}
                                <div class="form-group">
                                    <fieldset id="parameters" style="width:100%;">
                                        {% if menu_item == "ztpScript" %}
                                            <table class="table table-bordered parameters">
                                                <thead>
                                                    <tr>
                                                        <th style="width:50%;">{% trans "Name" %}</th>
                                                        <th style="width:50%;">{% trans "Value" %}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for parameter in formset %}
                                                        <tr class="link-formset">
                                                            <td>
                                                                {{ parameter.id }}

                                                                <label for="{{ parameter.name.id_for_label }}" style="display: none;">{{ parameter.name.label }}</label>
                                                                {{ parameter.name|add_class:"form-control" }}
                                                                {% for error in parameter.name.errors %}
                                                                    <p class="field-error">{{ error }}</p>
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                <label for="{{ parameter.value.id_for_label }}" style="display: none;">{{ parameter.value.label }}</label>
                                                                {{ parameter.value|add_class:"form-control" }}
                                                                {% for error in parameter.value.errors %}
                                                                    <p class="field-error">{{ error }}</p>
                                                                {% endfor %}

                                                                {{ parameter.DELETE }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% elif menu_item == "config" %}
                                            {% for parameter in formset %}
                                                <div class="link-formset form-group">
                                                    {{ parameter.id }}
                                                    {{ parameter.name|attr:"type:hidden" }}
                                                    <label for="{{ parameter.data.id_for_label }}" class="config_parameter_label" style="display: none;">{{ parameter.data.label }}</label>
                                                    {{ parameter.data|add_class:'d-none' }}
                                                    <div id="{{ parameter.data.id_for_label }}-jstable" class="jstable_instance"></div>
                                                    {% for error in parameter.data.errors %}
                                                        <p class="field-error">{{ error }}</p>
                                                    {% endfor %}
                                                    <div class="custom-control custom-switch">
                                                        {{ parameter.is_mandatory|add_class:"custom-control-input" }}
                                                        <label for="{{ parameter.is_mandatory.id_for_label }}" class="custom-control-label">{{ parameter.is_mandatory.label }}</label>
                                                        {% for error in parameter.is_mandatory.errors %}
                                                            <p class="field-error">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    {{ parameter.DELETE }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </fieldset>
                                </div>
                            {% endif %}
                            {% if form.language %}
                                <div class="form-group">
                                    <label for="{{ form.language.id_for_label }}">{{ form.language.label }}</label>
                                    {{ form.language|add_class:"form-control" }}
                                    {% for error in form.language.errors %}
                                        <p class="field-error">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if form.template %}
                                <label for="{{ form.template.id_for_label }}">{{ form.template.label }}</label>
                                {{ form.template }}
                                {% for error in form.template.errors %}
                                    <p class="field-error">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">{% if object.id %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block css_page %}
    {% if menu_item == "config" %}
        <link rel="stylesheet" href="{% static "ztp/css/jsTable.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "ztp/css/jsuites.css" %}" type="text/css" />
    {% endif %}
    {% if form.description %}
        <link rel="stylesheet" href="{% static 'admin-lte/plugins/summernote/summernote-bs4.css' %}">
    {% endif %}
    {% if form.template %}
        <link rel="stylesheet" href="{% static 'admin-lte/plugins/codemirror/codemirror.css' %}">
        <link rel="stylesheet" href="{% static 'admin-lte/plugins/codemirror/theme/monokai.css' %}">
    {% endif %}
{% endblock css_page %}

{% block js_page %}
    {% if menu_item == "ztpScript" or menu_item == "config" %}
        <script src="{% static "ztp/js/jquery.formset.js" %}"></script>
        <script>
            function table_delete_confirmation(id, initial_count) {
                if (id < initial_count) {
                    return confirm('{% trans "You are about to delete the complete table with its pre-existing data. Are you sure you want to continue?" %}');
                }
                return true;
            }

            $(function() {
                $('.link-formset').formset({
                    prefix: 'parameters',
                    {% if menu_item == "config" %}
                        addText: '{% trans "Add Parameter Table" %}',
                        deleteText: '{% trans "Remove Parameter Table" %}',
                        onbeforedelete: table_delete_confirmation,
                    {% else %}
                        addText: '{% trans "Add Parameter" %}',
                        deleteText: '{% trans "Remove Parameter" %}'
                    {% endif %}
                });
            });
        </script>
    {% endif %}
    {% if form.description %}
        <script src="{% static 'admin-lte/plugins/summernote/summernote-bs4.min.js' %}"></script>
        <script>
            $(function () {
                $('#{{ form.description.id_for_label }}').summernote()
            });
        </script>
    {% endif %}
    {% if form.template %}
        <script src="{% static 'admin-lte/plugins/codemirror/codemirror.js' %}"></script>
        <script src="{% static 'admin-lte/plugins/codemirror/addon/mode/loadmode.js' %}"></script>
        <script src="{% static 'admin-lte/plugins/codemirror/mode/meta.js' %}"></script>
        <script>
            $(function () {
                CodeMirror.modeURL = '{% static 'admin-lte/plugins/codemirror/mode/' %}%N/%N.js';
                let template_editor = CodeMirror.fromTextArea(
                    document.getElementById(
                        "{{ form.template.id_for_label }}"),
                    {
                        lineNumbers: true,
                        theme: "monokai"
                    }
                );
                {% if form.language %}
                    let language_field = $('#{{ form.language.id_for_label }}');

                    function update_template_language() {
                        let language = language_field.val();
                        let mode = (language !== '') ? language : null;

                        template_editor.setOption('mode', mode);
                        if (mode) {
                            CodeMirror.autoLoadMode(template_editor, mode);
                        }
                    }

                    update_template_language();
                    language_field.change(function(){
                        update_template_language();
                    });
                {% endif %}
            });
        </script>
    {% endif %}
    {% if menu_item == "config" %}
        <script src="{% static "ztp/js/jsTable.js" %}"></script>
        <script src="{% static "ztp/js/jsuites.js" %}"></script>
        <script>
            function onElementInserted(containerSelector, elementSelector, callback) {
                let onMutationsObserved = function(mutations) {
                    mutations.forEach(function(mutation) {
                        if (mutation.addedNodes.length) {
                            let elements = $(mutation.addedNodes).find(elementSelector);
                            for (let i = 0, len = elements.length; i < len; ++i) {
                                callback(elements[i]);
                            }
                        }
                    });
                };

                let target = $(containerSelector)[0];
                let config = { childList: true, subtree: true };
                let MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
                let observer = new MutationObserver(onMutationsObserved);
                observer.observe(target, config);
            }
        </script>
        <script>
            function update_jstable_first_column_header(jstable_obj, title) {
                if (title !== '') {
                    jstable_obj.setHeader(0, title);
                }
            }

            function isEmptyData(data) {
                for (let i = 0; i < data.length; ++i) {
                    for (let j = 0; j < data[i].length; ++j) {
                        if (data[i][j] !== '') {
                            return false;
                        }
                    }
                }
                return true;
            }

            function areInitialColumnsTitles(columns) {
                for (let i = 0; i < columns.length; ++i) {
                    let columnName = 'title' in columns[i] ? columns[i]['title'] : '';
                    if (columnName !== jsTable.getColumnName(i)) {
                        return false;
                    }
                }
                return true;
            }

            function getFirstColumnTitle(columns) {
                if (columns.length > 0 && 'title' in columns[0]) {
                    return columns[0]['title'];
                }
                return '';
            }

            function load_jstable_data(spreadsheet_id) {
                let data_id = spreadsheet_id.replace(/-jstable$/, '');
                let name_id = data_id.replace(/-[^-]*$/, '') + '-name';

                let data_element = $('#' + data_id);
                let name_element = $('#' + name_id);

                let data_value = data_element.val();
                let width = document.getElementById('parameters').clientWidth;
                let options = {
                    minDimensions: [2, 1],
                    defaultColWidth: 120,
                    tableOverflow: true,
                    tableWidth: width + 'px',
                    freezeColumns: 1,
                };
                if (data_value !== '') {
                    try {
                        let data_hash = JSON.parse(data_value);
                        let data_lines = data_hash['data'].length
                        options['minDimensions'] = [2, data_lines + 1];
                        options = Object.assign({}, options, data_hash);
                    } catch (e) {}
                }

                let jstable_obj = jsTable(document.getElementById(spreadsheet_id), options);
                let name_value = name_element.val();
                update_jstable_first_column_header(jstable_obj, name_value);

                name_element.keyup(function(){
                    let name_value = name_element.val();
                    if (name_value === '') {
                        name_element.val(jstable_obj.getHeader(0).substring(0,1));
                    }
                    update_jstable_first_column_header(jstable_obj, name_value);
                });

                return jstable_obj;
            }

            function findDuplicates(dict) {
                let hash = Object.create(null);
                let result = Object.create(null);

                Object.keys(dict).forEach(k => {
                    let grp = dict[k];
                    (grp in hash) ? hash[grp].push(k): (hash[grp] = [k]);
                });

                for (let key in hash) {
                    if (hash[key].length > 1) {
                        result[key] = hash[key].toString();
                    }
                }

                return result
            }

            function save_jstable_data(jstable_instances) {
                let names = {};
                for (let spreadsheet_id in jstable_instances) {
                    let jstable_instance = jstable_instances[spreadsheet_id];

                    let data_id = spreadsheet_id.replace(/-jstable$/, '');
                    let name_id = data_id.replace(/-[^-]*$/, '') + '-name';

                    let data_element = $('#' + data_id);
                    let name_element = $('#' + name_id);

                    let table_data = jstable_instance.getData();
                    let table_columns = jstable_instance.getColumnsProperties();
                    let isSet = (! areInitialColumnsTitles(table_columns)) || (! isEmptyData(table_data));

                    // Remove empty data line
                    let new_table_data = []
                    for (let i = 0; i < table_data.length; ++i) {
                        let empty = true;
                        for (let j = 0; j < table_data[i].length; ++j) {
                            if (table_data[i][j]) {
                                empty = false;
                                break
                            }
                        }
                        if (! empty) {
                            new_table_data.push(table_data[i]);
                        }
                    }
                    table_data = new_table_data

                    if (isSet) {
                        name_element.val(getFirstColumnTitle(table_columns));
                        data_element.val(JSON.stringify({
                            data: table_data,
                            columns: table_columns,
                        }));
                        names[spreadsheet_id] = getFirstColumnTitle(table_columns);
                    } else {
                        name_element.val('');
                        data_element.val('');
                    }
                }
                let duplicates = findDuplicates(names);
                if (Object.keys(duplicates).length > 0) {
                    for (let key in duplicates) {
                        $('.error').first().text('Duplicate key "' + key + '" found for parameters.');
                    }
                    return false;
                }

                return true;
            }
        </script>
        <script>
            let jstable_objs = {};

            $(function() {
                let stylesheet_id;
                {% for parameter in formset %}
                    stylesheet_id = '{{ parameter.data.id_for_label }}-jstable';
                    jstable_objs[stylesheet_id] = load_jstable_data(stylesheet_id);
                {% endfor %}

                onElementInserted('body', '.jstable_instance', function (element) {
                    stylesheet_id = element.id;
                    jstable_objs[stylesheet_id] = load_jstable_data(stylesheet_id);
                });

                $("form").submit(function () {
                     return save_jstable_data(jstable_objs);
                });
            })
        </script>
    {% endif %}
{% endblock js_page %}
