{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block content_title %}{{ object_description_plural|capfirst }}{% endblock content_title %}

{% block content %}
    <table class="list generic {{ menu_item }}">
        <thead>
            <tr>
                {% for field in list_fields %}
                    {% if field == 'id' %}
                        <th class="id">{% trans "ID" %}</th>
                    {% elif field == 'name' %}
                        <th class="name">{% trans "Name" %}</th>
                    {% elif field == 'file' %}
                        <th class="file">{% trans "File" %}</th>
                    {% elif field == 'description' %}
                        <th class="description">{% trans "Description" %}</th>
                    {% elif field == 'vendor' %}
                        <th class="vendor">{% trans "Vendor" %}</th>
                    {% elif field == 'platform' %}
                        <th class="platform">{% trans "Platform" %}</th>
                    {% endif %}
                {% endfor %}
                <th class="action">{% if can_add %}<a href="{{ url_create }}"><i class="far fa-plus-square"></i></a>{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    {% for field in list_fields %}
                        {% if field == 'id' %}
                            <td class="id">{{ object.id }}</td>
                        {% elif field == 'name' %}
                            <td class="name">{% if can_view and object.url_detail %}<a href="{{ object.url_detail }}">{{ object.name }}</a>{% else %}{{ object.name }}{% endif %}</td>
                        {% elif field == 'file' %}
                            <td class="file">{% if can_view %}<a href="{{ object.url_detail }}">{{ object.file.name }}</a>{% else %}{{ object.file.name }}{% endif %} <small>({{ object.file.size|intcomma }} {% trans "bytes" %})</small></td>
                        {% elif field == 'description' %}
                            <td class="description">{{ object.description }}</td>
                        {% elif field == 'vendor' %}
                            <td class="vendor">{{ object.vendor }}</td>
                        {% elif field == 'platform' %}
                            <td class="platform">{{ object.platform }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="action">
                        {% if can_delete and object.url_delete %}<a href="{{ object.url_delete }}"><i class="fas fa-trash"></i></a>{% endif %}&nbsp;&nbsp;
                        {% if can_change %}<a href="{{ object.url_update }}"><i class="fas fa-edit"></i></a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}