html {
    background-color: #eee;
    font-family: arial, sans-serif;
}
body {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 15px;
    margin: 15px;
}

/* Menu */
.menu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #eee;
}
.menu a {
    background-color: inherit;
    color: #000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    transition: 0.3s;
    font-size: medium;
    text-decoration: none;
}
.menu a:hover {
    background-color: #ddd;
}
.menu a.active {
    background-color: skyblue;
}

/* Content */
.content {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
}

/* Forms */
input[type=text], input[type=file], textarea {
    width: 100%;
}
textarea {
    white-space: nowrap;
    resize: vertical;
}
form .field-error {
    color: #ff0000;
    font-size: smaller;
    margin-block: 0;
}
form .error {
    color: #ff0000;
    font-size: smaller;
    margin-block: 0;
    text-align: center;
}
form .has-error {
    color: #ff0000;
}
form .delete_confirm {
    color: #ff0000;
    text-align: center;
    font-size: large;
}
form .delete_button {
    text-align: center;
}

/* Form vendor */
.vendor_description textarea {
    height: 100px;
}


/* Table list */
table.table_list {
    border-collapse: collapse;
    width: 100%;
}
table.table_list tr:nth-child(even) {
    background-color: #f2f2f2;
}
table.table_list tr:hover {
    background-color: #ddd;
}
table.table_list th, table.table_list td {
    border: 1px solid #ddd;
    padding: 8px;
}
table.table_list th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #af4c50;
    color: #fff;
}

/* Table update */
table.table_update {
    border-collapse: collapse;
    width: 100%;
}
table.table_update th, table.table_update td {
    border: 0;
    padding: 8px;
}
table.table_update th {
    vertical-align: top;
    text-align: right;
}

/* Table vendor list */
table.table_list .vendor_id { width: 40px!important; }
table.table_list th.vendor_id { text-align: center; }
table.table_list td.vendor_id { text-align: right; }
table.table_list .vendor_name { width: 40%; }
table.table_list .vendor_description { }
table.table_list .vendor_action { width: 50px!important; }
table.table_list th.vendor_action { text-align: center; }
table.table_list th.vendor_action a {
    color: #fff;
    text-decoration: none;
}
table.table_list td.vendor_action { text-align: right; }
table.table_list td.vendor_action a {
    color: #000;
    text-decoration: none;
}

/* Table vendor update */
table.table_update .vendor_name { }
table.table_update .vendor_description { }
table.table_update .vendor_action { text-align: center; }






.tabmain {
    max-height: calc(100vh - 265px);
    overflow-y: auto;
    margin-bottom: 15px;
}






.box {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 5px;
}

