html {
    background-color: #eee;
    font-family: arial, sans-serif;
}
body {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 15px;
    margin: 15px;
}

/* Menu */
.menu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #eee;
}
.menu a {
    background-color: inherit;
    color: #000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    transition: 0.3s;
    font-size: medium;
    text-decoration: none;
}
.menu a:hover {
    background-color: #ddd;
}
.menu a.active {
    background-color: skyblue;
}

/* Messages */
ul.messages {
    margin: 5px;
    border: 1px solid #000;
    list-style-type: none;
    padding: 3px;
}
ul.messages li {
    text-align: center;
    margin: 0;
    padding: 2px;
}
ul.messages li.success { color: forestgreen; }

/* Content */
.content {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
}

/* Home */
.home ul li {
    margin-top: 6px;
    margin-bottom: 6px;
}
.home a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* About */
.about h2 {
    text-align: center;
}
.about p {
    text-align: center;
}
.about ul li {
    margin-top: 6px;
    margin-bottom: 6px;
}
.about a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.about .container {
    display: flex;
    justify-content: center;
}
.about .copyright {
    border: 0px solid black;
    background-color: #dddddd;
    padding: 10px;
    max-width: 600px;
    text-align: left;
    font-family: 'Courier New', monospace;
}

/* Forms */
input[type=text], input[type=file], input[type=password], select, option,
textarea {
    width: 100%;
}
textarea {
    white-space: nowrap;
    resize: vertical;
}
form .field-error {
    color: #ff0000;
    font-size: smaller;
    margin-block: 0;
}
form .error {
    color: #ff0000;
    font-size: smaller;
    margin-block: 0;
    text-align: center;
}
form .has-error {
    color: #ff0000;
}

/* Form ZTP Scripts */
.description textarea {
    height: 100px;
}
.template textarea {
    height: 550px;
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
}


/* Form firmware */
.firmware_description textarea {
    height: 100px;
}

/* Form platform */
.platform_description textarea {
    height: 100px;
}

/* Form vendor */
.vendor_description textarea {
    height: 100px;
}

/* Table update (legacy) */
table.table_update {
    border-collapse: collapse;
    width: 100%;
}
table.table_update th, table.table_update td {
    border: 0;
    padding: 8px;
}
table.table_update th {
    vertical-align: top;
    text-align: right;
}

/* Table update (new) */
table.update {
    border-collapse: collapse;
    width: 100%;
}
table.update th, table.update td {
    border: 0;
    padding: 8px;
}
table.update th {
    vertical-align: top;
    text-align: right;
}

table.update tfoot td {
    text-align: center;
}

/* Table parameters */
table.parameters {
    width: 100%;
}

table.parameters th {
    width: 50%;
    text-align: left;
}

/* Table update */
table.table_update .firmware_vendor { }
table.table_update .firmware_name { }
table.table_update .firmware_description { }
table.table_update .action { text-align: center; }

/* Table firmware update */
table.table_update .firmware_vendor { }
table.table_update .firmware_name { }
table.table_update .firmware_description { }
table.table_update .firmware_action { text-align: center; }


/* Table platform update */
table.table_update .platform_vendor { }
table.table_update .platform_name { }
table.table_update .platform_description { }
table.table_update .platform_action { text-align: center; }

/* Table vendor update */
table.table_update .vendor_name { }
table.table_update .vendor_description { }
table.table_update .vendor_action { text-align: center; }

fieldset {
    border: none;
}
fieldset a {
    text-decoration: none;
    font-size: small;
    color: navy;
}

.link-formset {
    margin: 5px;
    border: 2px solid #999999;
    padding: 5px;
}

.config_parameter_label {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: small;
    font-weight: bold;
    color: #999999;
}

/*********************************** Form ***********************************/



/********************************** Detail **********************************/
table.detail {
    border-collapse: collapse;
    width: 100%
}
table.detail th, table.detail td {
    border: 0;
    padding: 8px;
}
table.detail th {
    vertical-align: top;
    text-align: right;
}

/* Parameters */
table.detail table.parameters th.key {
    text-align: right;
}
table.detail table.parameters tbody th,
table.detail table.parameters tbody td {
    font-weight: normal;
    font-family: 'Courier New', monospace;
}

/* Template */
table.detail td.template pre {
    background-color: black;
    color: white;
    width: 100%;
    padding: 5px;
    line-height: 1.2;
    font-size: medium;
}

/********************************** List ***********************************/

table.list {
    border-collapse: collapse;
    width: 100%;
}
table.list tr:nth-child(even) {
    background-color: #f2f2f2;
}
table.list tr:hover {
    background-color: #ddd;
}
table.list th, table.list td {
    border: 1px solid #ddd;
    padding: 8px;
}
table.list th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #af4c50;
    color: #fff;
}

/* ID */
table.list .id { width: 40px!important; }
table.list th.id { text-align: center; }
table.list td.id { text-align: right; }

/* Vendor */
table.list .vendor { }

/* Platform */
table.list .platform { }

/* Name */
table.list .name { width: 30%; }
table.list .name a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* File */
table.list .file { width: 30%; }
table.list .file a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* Description */
table.list .description { }

/* Action */
table.list .action { width: 50px!important; }
table.list th.action { text-align: center; }
table.list th.action a {
    color: #fff;
    text-decoration: none;
}
table.list td.action { text-align: right; }
table.list td.action a {
    color: #000;
    text-decoration: none;
}

/****************************** Delete forms *******************************/
form.delete p {
    color: #ff0000;
    text-align: center;
    font-size: large;
}

/********************************* Log-in **********************************/

.login {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-form {
    justify-content: center;
    width: 450px;
    border: 1px;
}
.login-form tfoot td {
    text-align: center;
}