{% extends "base.html" %}
{% load humanize i18n static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ object_description_plural|capfirst }}</h3>
                    </div>
                    <div class="card-body">
                        <table id="list" class="table table-bordered table-hover {{ menu_item }}">
                            <thead>
                                <tr>
                                    {% for field in list_fields %}
                                        {% if field == 'id' %}
                                            <th class="id">{% trans "ID" %}</th>
                                        {% elif field == 'created' %}
                                            <th class="created">{% trans "Date/time" %}</th>
                                        {% elif field == 'severity' %}
                                            <th class="severity"></th>
                                        {% elif field == 'location' %}
                                            <th class="location"></th>
                                        {% elif field == 'type' %}
                                            <th class="type"></th>
                                        {% elif field == 'description' %}
                                            <th class="description">{% trans "Description" %}</th>
                                        {% elif field == 'user' %}
                                            <th class="user">{% trans "User" %}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        {% for field in list_fields %}
                                            {% if field == 'id' %}
                                                <td class="id">{{ object.id }}</td>
                                            {% elif field == 'created' %}
                                                <td class="created">{{ object.created|date:"Y-m-d H:i:s" }}</td>
                                            {% elif field == 'severity' %}
                                                <td class="severity bg-{% if object.severity == 0 %}danger{% elif object.severity == 1 %}danger disable{% elif object.severity == 2 %}maroon{% elif object.severity == 3 %}maroon disabled{% elif object.severity == 4 %}orange{% elif object.severity == 4 %}warning{% elif object.severity == 5 %}success{% elif object.severity == 6 %}teal{% elif object.severity == 7%}gray{% endif %}">
                                                    {{ object.get_severity_display }}
                                                </td>
                                            {% elif field == 'location' %}
                                                <td class="location">{{ object.get_location_display }}</td>
                                            {% elif field == 'type' %}
                                                <td class="type">{{ object.get_task_type_display }}</td>
                                            {% elif field == 'location-type' %}
                                                <td class="lt">
                                                    {% if object.location == 0 %}
                                                        <i class="fas fa-compress-arrows-alt"></i>
                                                    {% elif object.location == 1 %}
                                                        <i class="fas fa-expand-arrows-alt"></i>
                                                    {% else %}
                                                    {% endif %}
                                                    {% if object.task_type == 0 %}
                                                        <i class="fas fa-cog"></i>
                                                    {% elif object.task_type == 1 %}
                                                        <i class="fas fa-power-off"></i>
                                                    {% elif object.task_type == 2 %}
                                                        <i class="fas fa-bug"></i>
                                                    {% else %}
                                                    {% endif %}
                                                </td>
                                            {% elif field == 'description' %}
                                                <td class="description">
                                                    {% if can_view and object.url_detail %}
                                                        <a href="{{ object.url_detail }}">{{ object }}</a>
                                                    {% else %}
                                                        {{ object }}
                                                    {% endif %}
                                                </td>
                                            {% elif field == 'user' %}
                                                <td class="user">{% if object.user %}{{ object.user }}{% endif %}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block css_page %}
    <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock css_page %}

{% block js_page %}
    <script src="{% static 'admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script>
        $(function () {
            $('#list').DataTable({
                'paging': true,
                'lengthMenu': [ [10, 25, 50, -1], [10, 25, 50, 'All'] ],
                'lengthChange': true,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                'responsive': true,
            });
        });
    </script>
{% endblock js_page %}